<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.joshlapham.autossh</string>

  <key>ProgramArguments</key>
  <array>
    <string>/usr/bin/python</string>
    <string>/Users/jl/launchctl/start_autossh.py</string>
  </array>

  <key>RunAtLoad</key>
  <true/>

  <key>KeepAlive</key>
  <dict>
    <key>SuccessfulExit</key>
    <false/>
  </dict>

  <key>StandardErrorPath</key>
  <string>/tmp/start_autossh.err</string>

  <key>StandardOutPath</key>
  <string>/tmp/start_autossh.out</string>
</dict>
</plist>
