<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.joshlapham.update-kodi-library</string>

  <key>ProgramArguments</key>
  <array>
    <string>/Users/jl/repos/py-misc-scripts/env/bin/python</string>
    <string>/Users/jl/repos/py-misc-scripts/kodi_library_update.py</string>
    <string>--clean</string>
  </array>

  <key>WorkingDirectory</key>
  <string>/Users/jl/repos/py-misc-scripts</string>

  <key>RunAtLoad</key>
  <false/>

  <key>KeepAlive</key>
  <false/>

  <key>StartCalendarInterval</key>
  <dict>
      <key>Minute</key>
      <integer>20</integer>
      <key>Hour</key>
      <integer>5</integer>
  </dict>

  <key>StandardErrorPath</key>
  <string>/tmp/update-kodi-library.err</string>

  <key>StandardOutPath</key>
  <string>/tmp/update-kodi-library.out</string>
</dict>
</plist>
