<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.joshlapham.backup-media</string>

  <key>ProgramArguments</key>
  <array>
    <string>/usr/bin/python</string>
    <string>/Users/jl/launchctl/backup.py</string>
    <string>--media</string>
    <string>--update-kodi</string>
  </array>

  <key>RunAtLoad</key>
  <true/>

  <key>StartInterval</key>
  <integer>3600</integer>

  <key>KeepAlive</key>
  <false/>

  <key>StandardErrorPath</key>
  <string>/tmp/backup-media.err</string>

  <key>StandardOutPath</key>
  <string>/tmp/backup-media.out</string>
</dict>
</plist>
